body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #561515;
}

form {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #11d55c;
}

#result {
  margin-top: 20px;
  color: rgb(9, 223, 9);
}
